<div class="container">
  <div class="row m-3">
    <div class="col-md-12">
      <form #postForm="ngForm" (ngSubmit)="OnCreatePost(postForm.value)">
        <div class="form-group">
          <label for="title">Title:</label>
          <input type="text" class="form-control" id="title" required ngModel name="title" />
        </div>
        <div class="form-group">
          <label for="content">Content:</label>
          <input type="text" class="form-control" id="content" required ngModel name="content" />
        </div>
        <button class="btn btn-success mt-3" type="submit" [disabled]="postForm.invalid">
          Create Post
        </button>
      </form>
      <hr />
      <div class="row">
        <div class="com-md-12">
          <input
            type="button"
            value="fetch Post"
            (click)="OnfetchPosts()"
            class="btn btn-primary mt-2 float-end"
          />
        </div>
      </div>
      <div class="row">
        <div class="com-md-12">
          <input
            type="button"
            value="cLear Post"
            (click)="OnclearPosts()"
            class="btn btn-info mt-2 float-end"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p *ngIf="loadedPosts.length < 1 && !isloading">No Posts avaliable</p>
        </div>
        <ul class="list-group" *ngIf="loadedPosts.length >= 1 && !isloading">
          <li class="list-group-item" *ngFor="let post of loadedPosts">
            <h3>{{ post.title }}:</h3>
            <p>{{ post.content }}</p>
          </li>
        </ul>
        <p *ngIf="isloading && !error">Loading posts.........</p>
        <div class="alert alert-danger" *ngIf="error">
          <h3>An error Occured.........</h3>
          {{ error }}
          <button class="btn btn-danger float-end" (click)="OnhandleError()">
            Okay go to hame
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
